

body {
    margin: 0;
    padding: 0;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
}

body .card {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
}

.container-fluid {
    margin: 0;
    padding: 0;
   
}

.nav-link-with-margin {
    margin-right: 10px; 
  }

.footer{
    margin: 0;
    padding:0;
    min-width: 100vh;
}

.navbar-brand{
    margin-left: 2vh;
}

.card{
    width: 18rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
}

.cards {
    align-items: center;
}