.cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    justify-content: center;
    color: white;
    
  }
  
  .card {
    width: calc(33.33% - 20px);
    margin: 0 10px 20px;
    background-color: black;
    border: 1px solid white;
    box-shadow: 0 2px 6px white;
   
  }
  
  .card-title a {
    font-weight: bold;
    color: yellow;
    text-decoration: none;
  }
  
  .card-title a:hover {
    background-color: rgb(163, 205, 86);
   
  }
  
  .card-subtitle {
    font-size: 14px;
    color: white;
  }
  
  .card-text {
    color: rgb(39, 141, 11);
    margin-bottom: 1rem;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    color: white;
  }
  
  .pagination button {
    background-color: rgb(34, 107, 196);
    border: 1px solid #2de119;
    color: white;
    padding: 0.5rem 1rem;
    margin: 0 0.25rem;
    cursor: pointer;
  }
  
  .pagination button:hover:not([disabled]) {
    background-color: #ba1515;
    color: white;
  }
.postsgrd {
  background-color: black;
  color: white;
}

.text-center {
    background-color: black;
    border: 5px solid black;
    color: white;
}

body {
  background-color: black;
  color: white;
}

